body{
    font-size: 16px;
}

h1{
    font-size: 65px;
    color: #ff7300;
    font-family: 'Roboto', sans-serif;
}

ul{
    background-color: #555555;
}

p{
    font-weight: 600;
    font-size: 3em;
}
#vermelho{
    background-color: #FF0000;
}
#amarelo{
    background-color: #ffFF00;
}
#marrom{
    background-color: #5c3400;
}